*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color:#303030;
	
}

header{
	background-color: #333;
	height: 3em;
	color: #A9A9A9;
	margin-bottom: 1em;
	text-align: center!important;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	text-align:center;
	color: white;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #A9A9A9;/* #EEE;*/
}

label{
	color: white;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: 1.0em;
	width: 100%;
	color:white;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
	background-color:#202020;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#778899;
	border-color: #202020;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.calcImc{
	font-weight: bold;
}

.pesoSub{	
	font-weight: bold;
	background-color:lightcoral;
	color:red;
}

.pesoBai{
	font-weight: bold;
	color:red;
	background-color: #778899 !important;
}

.pesoNor{
	font-weight: bold;
	color:gray;
}

.pesoSob{
	font-weight: bold;
	color:lightcoral;
}

.pesoObe{
	font-weight: bold;
	color:red;
	background-color: #778899 !important;
}

.pesoSev{
	font-weight: bold;
	background-color:lightcoral!important;
	color:red;
}

.pesoMor{
	font-weight: bold;
	background-color:red!important;
	color:white;
}

.erroAltPes{
	background-color: yellow;
	color: red!important;
	font-weight: bold;
}

.recalc{
	
	text-align: right;
}

#msgerro{
	color:#FFB6C1;
}

.fadeOut{
	opacity: 0;
	transition: 0.75s;
}
placeholder{
	color: white;
}

.linha-paciente{
	color: white;
	font-weight: bold;
}

#titulo-form{
	text-align:left!important;
}